<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phanmemquanlychitieu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TienChi"
            android:label="Ghi chép chi tiêu"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TienThu"
            android:label="Ghi chép thu nhập"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DanhSachThuChi"
            android:label="Danh sách thu chi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BaoCaoThuChi"
            android:label="Thống kê - Biểu đồ"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NgoaiTe"
            android:label="Quy đổi tiền tệ"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:parentActivityName=".BaoCaoThuChi"
            android:theme="@style/addTheme" />
        <activity
            android:name=".LaiXuat"
            android:label="Lãi xuất ngân hàng"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <!--
            <activity
            android:name=".CircleActivity"
            android:label="MENU" />
        -->
    </application>

</manifest>